= javascript_include_tag 'mdeditor'
= form_for [:admin, @page], html: {onsubmit: "html_content();"} do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :path
    = f.text_field :path
  .field
    = f.label :content
    -# a bug around haml whitespace, I have find some solutions: https://github.com/haml/haml/issues/643#issuecomment-255546050
    = f.text_area :content
    = f.hidden_field :html_content
  .actions
    = f.submit 'Save'
= javascript_include_tag 'admin/bootstrap-tagsinput.min'
= javascript_include_tag 'admin/bootstrap3-typeahead.min'

:javascript
  $("#page_content").markdown({
    language: 'zh',
    fullscreen: {
        enable: true
    },
    resize: 'vertical',
    hiddenButtons: ['cmdEmoji'],
    iconlibrary: 'fa'
  });
  function html_content(){
    $('#page_html_content').val(marked($('#page_content').val()))
  }