%ol.breadcrumb
  %li
    %i.fa.fa-dashboard.fa-prl5
    = link_to admin_root_path do
      管理首页
  %li.active
    %i.fa.fa-comments.fa-prl5
    评论管理
#admin-comment-index
  .table-responsive
    %table.table.table-bordered.table-hover.table-striped
      %thead
        %tr
          %th ID
          %th 内容
          %th 昵称
          %th 邮箱
          %th Target
          %th 创建时间
          %th 状态
          %th 操作
      %tbody
        - @comments.each do |c|
          %tr
            %td
              = c.id
            %td
              = c.content
            %td
              = c.creator_name
            %td
              = c.creator_email
            %td
              = c.post.title
            %td
              = c.created_at.strftime("%x %H:%M")
            %td
              - if c.verified?
                已通过
              - else
                未通过
            %td
              - unless c.verified?
                .label.label-success.label-mr5
                  通过
              .label.label-warning.label-mr5
                回复
              .label.label-danger.label-mr5
                删除
