#login-field
  .wrapper
    = form_for :session, url: login_url, html: {class: 'form-signin'}, method: :post do |f|
      %h3.form-signin-heading 登录 Blogine 后台管理
      %hr.colorgraph
      %br
      = f.text_field :login, class: "form-control", placeholder: "请输入邮箱或用户名"
      = f.password_field :password, class: "form-control", placeholder: "请输入密码"
      = f.label :remember_me, class: "checkbox inline" do
        = f.check_box :remember_me
        %span 记住我
      = f.submit "登陆", class: " btn btn-lg btn-primary btn-block"