#comments
  %h2 评论

  - comments.each do |c|
    %p
      = raw c.content
      \---
      = c.creator_name
      \---
      = c.creator_email
      \---
      = c.creator_site

  = render 'comments/form', target: target