#comments
  %h3.comment-master 评论
  - if comments.present?
    .comments-container
      %ul#comments-list.comments-list
        - comments.each do |c|
          %li
            .comment-main-level
              .comment-avatar
                = image_tag 'http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg'
              .comment-box
                .comment-head
                  .comment-name{class: author_class(c.status)}
                    = link_to c.creator_name, c.creator_site, target: '_blank'
                  .comment-others
                    %span
                      = c.created_at.to_formatted_s(:long)
                    %i.fa.fa-reply.has-tooltip{'data-original-title' => '回复', 'data-placement' => 'left', 'data-toggle' => 'tooltip'}
                .comment-content
                  = raw c.html_content
            - if c.children.present?
              %ul.comments-list.reply-list
                - c.children.each do |child|
                  %li
                    .comment-avatar
                      %img{:alt => "", :src => "http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"}/
                    .comment-box
                      .comment-head
                        .comment-name{class: author_class(child.status)}
                          = link_to child.creator_name, child.creator_site, target: '_blank'
                        .comment-others
                          %span
                            = child.created_at.to_formatted_s(:long)
                          %i.fa.fa-reply.has-tooltip{'data-original-title' => '回复', 'data-placement' => 'left', 'data-toggle' => 'tooltip'}
                      .comment-content
                        = raw child.html_content
  - else
    .no-comments
      暂无相关评论，快来抢占沙发吧！
  .comment-form#comment-form-field
    = render 'comments/form', target: target, type: 'comment'
  .comment-form.reply-form#reply-form-field
    = render 'comments/form', target: target, type: 'reply'