- @comment = Comment.new
= form_for [post, @comment], html: {onsubmit: "html_content();"}  do |f|
  .field
    = f.label :content
    = f.text_area :content
    = f.hidden_field :html_content
  .field
    = f.label :creator_name
    = f.text_field :creator_name
  .field
    = f.label :creator_email
    = f.text_field :creator_email
  .field
    = f.label :creator_site
    = f.text_field :creator_site
  .actions
    = f.submit 'Save'

:javascript
  function html_content(){
    $('#comment_html_content').val($('#comment_content').val())
  }