- @comment = Comment.new
= form_for [target, @comment], remote: true, html: {onsubmit: "html_content();", id: (type == 'comment' ? 'new_comment' : 'new_reply')}  do |f|
  .row
    .col-md-4.col-sm-5
      .form-group
        .input-group
          .input-group-addon
            昵称
          = f.text_field :creator_name, class: 'form-control', placeholder: '怎么称呼', required: true
      .form-group
        .input-group
          .input-group-addon
            邮箱
          = f.text_field :creator_email, class: 'form-control', placeholder: '怎么联系', required: true
      .form-group
        .input-group
          .input-group-addon
            网站
          = f.text_field :creator_site, class: 'form-control', placeholder: '家在何方', required: true
      .form-group
        .input-group
          .input-group-addon
            验证
          = rucaptcha_input_tag(class: 'form-control', required: true)
          .input-group-addon.captcha
            = rucaptcha_image_tag(alt: 'Captcha')
    .col-md-8.col-sm-7
      .form-group
        = f.text_area :content, class: 'form-control', placeholder: '说点什么吧，支持MarkDown哦！', rows: 6, required: true
        = f.hidden_field :html_content
        - if type == 'reply'
          = f.hidden_field :parent_id
      - if type == 'reply'
        .cancel-reply
          取消回复
      .actions
        = f.submit "发表#{type == 'comment' ? '我的评论' : '回复'} ->", class: 'add-comment'

:javascript
  function html_content(){
    $('#comment_html_content').val($('#comment_content').val())
  }
  $('.rucaptcha-image').click(function(){
    $('.rucaptcha-image').attr('src', '/rucaptcha' + '?' + (new Date()).getTime())
  })