.columns-field
  - if @columns.present?
    %h3
      所有分类
      %span.columns-count
        （共 #{@columns.size} 个）
    .row
      - color_array = ['gray','blue','green','red','yellow','qing']
      - @columns.each do |column|
        .col-md-4.col-sm-4
          = link_to column do
            .bs-callout{class: "bs-callout-#{color_array[column.id % 6]}"}
              %h4
                = column.name
              %p
                共 #{column.posts_count} 篇文章
  - else
    %h3
      暂无分类
