%ol.breadcrumb
  %li
    %i.fa.fa-dashboard.fa-prl5
    = link_to admin_root_path do
      管理首页
  %li.active
    %i.fa.fa-tags.fa-prl5
    标签管理
#admin-tag-index
  .table-responsive
    %table.table.table-bordered.table-hover.table-striped
      %thead
        %tr
          %th ID
          %th 名称
          %th 文章数
          %th 创建时间
          %th 操作
      %tbody
        - @tags.each do |t|
          %tr
            %td
              = t.id
            %td{style:'width: 25%'}
              = t.name
            %td
              = t.posts.count rescue 0
            %td
              = t.created_at.strftime("%x %H:%M")
            %td.operate-icons
              .fa.fa-pencil-square.fa-prl5.has-tooltip{ 'data-original-title' => '修改此标签', 'data-placement' => 'top', 'data-toggle' => 'tooltip', onclick: "editTag(#{t.id})"}
              = link_to admin_tag_path(t), method: :delete, remote: true, data: {confirm: '删除后，有此标签的文章将无此标签，确认删除？'}, class: 'has-tooltip', 'data-original-title' => '删除此标签', 'data-placement' => 'top', 'data-toggle' => 'tooltip' do
                .fa.fa-trash
        %tr.tags-create-field
          = form_for [:admin, @tag], remote: true do |f|
            %td
            %td
              = f.text_field :name, class: 'form-control', placeholder: '如: Rails'
            %td{colspan: 3}
              = f.submit '创建', class: 'btn btn-success margin-right-5'
              .btn.btn-default.cancle-tag-field
                取消
  %button.btn.btn-sm.btn-success.add-tags-btn
    .fa.fa-plus.fa-pr5
    添加标签

:coffee
  $('.add-tags-btn').click ->
    $('.add-columns-btn').hide()
    $('.tags-create-field').show()
    return
  $('.cancle-tag-field').click ->
    $('.add-tags-btn').show()
    $('.tags-create-field').hide()
    return
  $('#new_tag').submit ->
    $('input[type=submit]', this).attr 'disabled', 'disabled'
    return