= javascript_include_tag 'mdeditor'
= form_for [:admin, @post], html: {onsubmit: "html_content();"} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :ident
    = f.text_field :ident
  .field
    = f.label :intro
    = f.text_field :intro
  .field
    = f.label :content
    -# a bug around haml whitespace, I have find some solutions: https://github.com/haml/haml/issues/643#issuecomment-255546050
    = f.text_area :content
    = f.hidden_field :html_content
  .field
    = f.label :column_id
    = f.select :column_id, Column.all.collect { |c| [ c.name, c.id ] }
    = hidden_field_tag :post_tags
.field
  %label Tags
  = text_field_tag :tags, @tags_str, placeholder: '输入标签，回车确认'
= button_tag 'save', id: :submit_form

= javascript_include_tag 'admin/bootstrap-tagsinput.min'
= javascript_include_tag 'admin/bootstrap3-typeahead.min'

:javascript
  $("#post_content").markdown({
    language: 'zh',
    fullscreen: {
        enable: true
    },
    resize: 'vertical',
    hiddenButtons: ['cmdEmoji'],
    iconlibrary: 'fa'
  });
  function html_content(){
    $('#post_html_content').val(marked($('#post_content').val()))
  }
  $('#submit_form').click(function(){
    $('#post_tags').val($('#tags').val())
    $('form').submit()
  })
  $(document).ready(function() {
    $("form input[name*='post']").bind("keypress", function(e) {
      if (e.keyCode == 13) {
          return false;
      }
    });
  });
  var places = #{Tag.all.pluck(:name)} ;
  $('#tags').tagsinput({
    typeahead: {
      source: places.map(function(item) { return item }),
      afterSelect: function() {
          this.$element[0].value = '';
      }
    }
  })