%ol.breadcrumb
  %li
    %i.fa.fa-dashboard.fa-prl5
    = link_to admin_root_path do
      管理首页
  %li.active
    %i.fa.fa-cogs.fa-prl5
    博客设置
#admin-setting-index
  .alert.alert-info
    设置是操作
    %code
      config/blogine.yml
    配置文件进行改动，你也可以自行修改这个文件进行配置，但手动更改配置文件记得重启应用哦。
  = form_for admin_settings_path do
    .form-group
      = label_tag :site_name, '博客名'
      = text_field_tag :site_name, Settings.blogine.site_name, class: 'form-control'
    .form-group
      = label_tag :host, '博客域名'
      .input-group
        .input-group-addon
          http://
        = text_field_tag :host, Settings.blogine.host, class: 'form-control'
    .form-group
      = label_tag :keywords, '博客关键字'
      = text_field_tag :keywords, Settings.blogine.keywords, class: 'form-control'
    .form-group
      = label_tag :description, '博客描述'
      = text_area_tag :description, Settings.blogine.description, class: 'form-control'
    = button_tag '保存设置', class: 'btn btn-success'