%ol.breadcrumb
  %li
    %i.fa.fa-dashboard.fa-prl5
    = link_to admin_root_path do
      管理首页
  %li.active
    %i.fa.fa-cogs.fa-prl5
    博客设置

= form_for admin_settings_path do
  = label_tag :site_name, '博客名'
  = text_field_tag :site_name, Settings.blogine.site_name
  = button_tag 'submit'