.blog-list
  - @posts.each do |post|
    .post-item
      .post-title
        = link_to post do
          = post.title
      .post-intro
        = post.intro
      .post-detail
        .detail-item
          .fa.fa-clock-o
          = post.created_at.to_formatted_s(:long)
        .detail-item
          - if post.column.present?
            .fa.fa-columns
            = post.column.name
        .detail-item
          .fa.fa-tags
          php,ruby,mysql
        - if current_user
          .detail-item
            = link_to 'Edit', edit_post_path(post), 'data-turbolinks' => false
          .detail-item
            = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
- if current_user
  = link_to 'New Post', new_post_path
