.blog-list
  - @posts.each do |post|
    .post-item
      .post-title
        = link_to post do
          = post.title
      .post-intro
        = post.intro
      .post-detail
        .detail-item
          .fa.fa-clock-o.fa-pr5
          = post.created_at.to_formatted_s(:long)
        .detail-item
          .fa.fa-comments-o.fa-pr5
          = post.comments_count
        .detail-item
          - if post.column.present?
            .fa.fa-columns.fa-pr5
            = post.column.name
        .detail-item
          - if post.tags.present?
            .fa.fa-tags.fa-pr5
            - post.tags.each do |t|
              = link_to t, target: '_blank' do
                .label.label-default.label-mr5
                  = t.name