.blog-list
  - @posts.each do |post|
    .post-item
      .post-title
        = link_to post do
          = post.title
      .post-intro
        = post.intro
      .post-detail
        .detail-item
          .fa.fa-clock-o.fa-pr5
          = post.created_at.to_formatted_s(:long)
        .detail-item
          - if post.column.present?
            .fa.fa-columns.fa-pr5
            = post.column.name
        .detail-item
          .fa.fa-tags.fa-pr5
          php,ruby,mysql
        - if current_user
          .edit-post
            = link_to edit_admin_post_path(post) do
              .fa.fa-edit.fa-pr5
              编辑