%p#notice= notice

%h2
  = @post.title
.markdown-body
  = raw @post.html_content
%p
  %b Column:
  = @post.column.name
%p
  %b Created_at
  = @post.created_at

= link_to 'Edit', edit_post_path(@post), 'data-turbolinks' => false
\|
= link_to 'Back', root_path
