%p#notice= notice

%p
  %b Title:
  = @post.title
%p.content
  = raw @post.html_content
%p
  %b Column:
  = @post.column_id
%p
  %b Status:
  = @post.status
%p
  %b Created_at
  = @post.created_at

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', root_path
