- if @column.saved?
  :plain
    html = "<tr id='column-#{@column.id}'><td>#{@column.id}</td><td class='name'>#{@column.name}</td><td class='ident'>#{@column.ident}</td><td>0</td><td>#{@column.created_at.strftime('%x %H:%M')}</td><td class='operate-icons'><div class='fa fa-pencil-square fa-prl5 has-tooltip' data-original-title='修改此分类' data-placement='top' data-toggle='tooltip' onclick='editColumn(#{@column.id})'></div><a data-confirm='删除后，此分类下的所有文章将会无分类，确认删除？' class='has-tooltip' data-original-title='删除此分类' data-placement='top' data-toggle='tooltip' data-remote='true' rel='nofollow' data-method='delete' href='#{admin_column_path(@column)}'><div class='fa fa-trash fa-pr5'></div></a><a class='has-tooltip overview' data-original-title='查看' data-placement='top' data-toggle='tooltip' href='#{column_path(@column)}' target='_blank'><div class='fa fa-eye'></div></a></div></td></tr>";
    $('.columns-create-field').before(html)
    $('#new_column')[0].reset()
- else
  :plain
    alert('输入有误,请稍后重试!');