%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to admin_root_path, class: 'navbar-brand' do
      Blogine 后台管理
  .hidden-area
    .nav.navbar-right.top-nav
      %li
        = link_to new_admin_post_path, class: 'create-blog' do
          .fa.fa-pencil.icon-padding-5
          发表博客
      %li
        = link_to root_path do
          返回博客首页
          .fa.fa-arrow-right.icon-padding-5
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.side-nav
      %li.active
        = link_to admin_root_path do
          .fa.fa-dashboard.icon-padding-5
          管理首页
      %li
        = link_to admin_posts_path do
          .fa.fa-book.icon-padding-5
          文章管理
      %li
        = link_to admin_comments_path do
          .fa.fa-comments.icon-padding-5
          评论管理
      %li
        = link_to admin_columns_path do
          .fa.fa-columns.icon-padding-5
          分类管理
      %li
        = link_to admin_tags_path do
          .fa.fa-tags.icon-padding-5
          标签管理
      %li
        = link_to admin_pages_path do
          .fa.fa-list-alt.icon-padding-5
          页面管理
      %li
        = link_to admin_settings_path do
          .fa.fa-cogs.icon-padding-5
          博客设置
    .sidebar-footer.hidden-small
      = link_to 'https://zoker.io/blogine', class: 'has-tooltip', 'data-original-title' => '更新日志', 'data-placement' => 'top', 'data-toggle' => 'tooltip' do
        %span.fa.fa-rss{'aria-hidden' => 'true'}
      = link_to 'https://zoker.io/blogine#comments', class: 'has-tooltip', 'data-original-title' => '建议反馈', 'data-placement' => 'top', 'data-toggle' => 'tooltip' do
        %span.fa.fa-comments{'aria-hidden' => 'true'}
      = link_to logout_path, method: :delete, class: 'has-tooltip', 'data-original-title' => '退出登录', 'data-placement' => 'top', 'data-toggle' => 'tooltip' do
        %span.fa.fa-sign-out{'aria-hidden' => 'true'}
